<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Iris DJANGO APP</h1>
    {% if result %}
          <h1>Flower that you are predicted is:{{result}}</h1>
    {% endif %}      
   <form action="" method="POST">
      {% csrf_token %}
      <input type="number" name="sepal_length">required<br>
      <input type="number" name="sepal_width">required<br>
      <input type="number" name="petal_length">required<br>
      <input type="number" name="petal_width">required<br>
    <input type="submit">
   </form>

</body>
</html>